TEST


STAMPIAMO UN ELENCO di RECORD

<% Person.all.each do |p| %>
    <div>
      ----<br>
      <%= p.name %>
      <%= p.surname %>
      ----
    </div>

<% end %>


Seconda query con per cerare il primo
<%= Person.where(Person.arel_table[:name].matches('%marino%')).first %>